<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YuvamOl"
        tools:targetApi="31">
        <activity
            android:name=".MainDurumTespiti"
            android:exported="false" />
        <activity
            android:name=".MainHayvaninDurumu"
            android:exported="false" />
        <activity
            android:name=".MainGeciciHayvanlar"
            android:exported="false" />
        <activity
            android:name=".MainHayvanBilgileri"
            android:exported="false" />
        <activity
            android:name=".MainHayvanEkleme"
            android:exported="false" />
        <activity
            android:name=".MainEvcilHayvanlarim"
            android:exported="false" />
        <activity
            android:name=".MainAyarlar"
            android:exported="false" />
        <activity
            android:name=".MainIlgilenilenHayvanlar"
            android:exported="false" />
        <activity
            android:name=".Mainbakicilistesi"
            android:exported="false" />
        <activity
            android:name=".MainBakiciFiltreleme"
            android:exported="false" />
        <activity
            android:name=".ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.YuvamOl.NoActionBar" />
        <activity
            android:name=".ProfilDuzenleme2"
            android:exported="false" />
        <activity
            android:name=".MainProfilDuzenleme"
            android:exported="false" />
        <activity
            android:name=".MainSifremiUnuttum"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainGirisSonrasi"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainKayitOl"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>